//  Extra small devices (portrait phones, less than 576px) 
@media (max-width: 575.98px) {

    /* header start */
    header {
        nav {
            ul {
                margin-top: 30px !important;

                li {
                    margin: 0 0;
                    text-align: right;
                    // &:last-child {
                    //     margin: 0 10px;
                    // }
                }
            }
        }
    }

    .cusmar {
        margin-left: auto;
    }

    /* header start */
}

//  Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) and (max-width: 767.98px) {

    /* header start */
    header {
        nav {
            ul {
                margin-top: 30px !important;

                li {
                    margin: 0 0;
                    text-align: right;

                }
            }
        }
    }

    .cusmar {
        margin-left: auto;
    }

    /* header start */
}

//  Medium devices (tablets, 768px and up) 
@media (min-width: 768px) and (max-width: 991.98px) {

    /* header start */
    header {
        nav {
            ul {
                margin-top: 30px !important;

                li {
                    margin: 0 0;
                    text-align: right;


                }
            }
        }
    }

    .cusmar {
        margin-left: auto;
    }

    /* header start */
}

//  Large devices (desktops, 992px and up) 
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* header start */
    header {
        nav {
            ul {
                margin-top: 30px !important;

                li {
                    margin: 0 0;
                    text-align: right;
                    // &:last-child {
                    //     margin: 0 10px;
                    // }

                }
            }
        }
    }

    .cusmar {
        margin-left: auto;
    }

    // search
    .searchbar:hover>.search_input {
        width: 70px;
    }


    // search

    /* header end */

}

//  Extra large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) {}