@media (max-width: 575.98px) {
  /* header start */
  header nav ul {
    margin-top: 30px !important; }
    header nav ul li {
      margin: 0 0;
      text-align: right; }
  .cusmar {
    margin-left: auto; }
  .banner_content {
    margin-top: 149px;
    margin-bottom: 131px; }
  .banner_content h1 {
    font-size: 25px; }
  .scroll {
    margin-bottom: -100px; }
    .scroll p {
      font-size: 17px; }
    .scroll i {
      font-size: 50px; }
  .edu_title_container {
    margin-top: 240px; }
    .edu_title_container h1 {
      font-size: 20px;
      margin-bottom: 25px; }
    .edu_title_container hr {
      width: 250px;
      margin-bottom: 25px; }
  .rowcontainer h2 {
    font-size: 24px;
    margin-bottom: 15px; }
  .rowcontainer p {
    margin-top: 15px;
    font-size: 16px; }
  .container2 img {
    margin-left: 25px; }
  .container2 p {
    font-size: 20px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  /* header start */
  header nav ul {
    margin-top: 30px !important; }
    header nav ul li {
      margin: 0 0;
      text-align: right; }
  .cusmar {
    margin-left: auto; }
  /* header start */
  .banner_content {
    margin-top: 229px;
    margin-bottom: 131px; }
  .banner_content h1 {
    font-size: 28px; }
  .scroll {
    margin-bottom: -100px; }
    .scroll p {
      font-size: 17px; }
    .scroll i {
      font-size: 50px; }
  .edu_title_container {
    margin-top: 200px; }
    .edu_title_container h1 {
      font-size: 28px;
      margin-bottom: 25px; }
    .edu_title_container hr {
      width: 250px;
      margin-bottom: 25px; }
  .rowcontainer h2 {
    font-size: 24px;
    margin-bottom: 15px; }
  .rowcontainer p {
    margin-top: 15px;
    font-size: 16px; }
  .rowcontainer2 {
    margin-top: 50px; }
  .container2 img {
    margin-left: 0; }
  .container2 p {
    font-size: 20px;
    display: inline-block; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  /* header start */
  header nav ul {
    margin-top: 30px !important; }
    header nav ul li {
      margin: 0 0;
      text-align: right; }
  .cusmar {
    margin-left: auto; }
  /* header start */
  .banner_content {
    margin-top: 206px;
    margin-bottom: 145px; }
  .banner_content h1 {
    font-size: 40px; }
  .scroll {
    margin-bottom: -100px; }
    .scroll p {
      font-size: 17px; }
    .scroll i {
      font-size: 50px; }
  .edu_title_container {
    margin-top: 180px; }
    .edu_title_container h1 {
      margin-bottom: 25px; }
    .edu_title_container hr {
      width: 250px;
      margin-bottom: 25px; }
  .rowcontainer h2 {
    font-size: 24px;
    margin-bottom: 15px; }
  .rowcontainer p {
    margin-top: 15px;
    font-size: 16px; }
  .rowcontainer img {
    width: 210px; }
  .rowcontainer2 {
    margin-top: 70px; }
  .container2 img {
    margin-left: 0; }
  .container2 p {
    font-size: 20px; }
  .cusfooter p {
    font-size: 15px;
    line-height: 30px; }
  .mot {
    margin-bottom: 40px; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* header start */
  header nav ul {
    margin-top: 30px !important; }
    header nav ul li {
      margin: 0 0;
      text-align: right; }
  .cusmar {
    margin-left: auto; }
  .searchbar:hover > .search_input {
    width: 70px; }
  /* header end */
  .banner_content {
    margin-top: 210px;
    margin-bottom: 220px; }
  .scroll {
    margin-bottom: -70px; }
    .scroll p {
      font-size: 17px; }
    .scroll i {
      font-size: 50px; }
  .edu_title_container {
    margin-top: 150px; }
    .edu_title_container h1 {
      margin-bottom: 25px; }
    .edu_title_container hr {
      width: 250px;
      margin-bottom: 25px; }
  .rowcontainer h2 {
    font-size: 24px;
    margin-bottom: 15px; }
  .rowcontainer p {
    margin-top: 15px;
    font-size: 16px; }
  .rowcontainer2 {
    margin-top: 40px; }
  .container2 img {
    margin-left: 5px; }
  .container2 p {
    font-size: 20px; }
  .cusfooter p {
    font-size: 15px;
    line-height: 30px; }
  .mot {
    margin-bottom: 40px; } }
