//  Extra small devices (portrait phones, less than 576px) 
@media (max-width: 575.98px) {

    /* header start */
    header {
        nav {
            ul {
                margin-top: 30px !important;

                li {
                    margin: 0 0;
                    text-align: right;
                    // &:last-child {
                    //     margin: 0 10px;
                    // }
                }
            }
        }
    }

    .cusmar {
        margin-left: auto;
    }

    // banner start
    .banner_content {
        margin-top: 149px;
        margin-bottom: 131px;
    }

    .banner_content h1 {
        font-size: 25px;
    }

    .scroll {
        margin-bottom: -100px;

        p {
            font-size: 17px;
        }

        i {
            font-size: 50px;
        }
    }

    // banner end
}

//  Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) and (max-width: 767.98px) {

    /* header start */
    header {
        nav {
            ul {
                margin-top: 30px !important;

                li {
                    margin: 0 0;
                    text-align: right;

                }
            }
        }
    }

    .cusmar {
        margin-left: auto;
    }

    /* header start */

    // banner start
    .banner_content {
        margin-top: 229px;
        margin-bottom: 131px;
    }

    .banner_content h1 {
        font-size: 28px;
    }

    .scroll {
        margin-bottom: -100px;

        p {
            font-size: 17px;
        }

        i {
            font-size: 50px;
        }
    }

    // banner end

}

//  Medium devices (tablets, 768px and up) 
@media (min-width: 768px) and (max-width: 991.98px) {

    /* header start */
    header {
        nav {
            ul {
                margin-top: 30px !important;

                li {
                    margin: 0 0;
                    text-align: right;


                }
            }
        }
    }

    .cusmar {
        margin-left: auto;
    }

    /* header start */

    // banner start
    .banner_content {
        margin-top: 206px;
        margin-bottom: 145px;
    }

    .banner_content h1 {
        font-size: 40px;
    }

    .scroll {
        margin-bottom: -100px;

        p {
            font-size: 17px;
        }

        i {
            font-size: 50px;
        }
    }

    // banner end
}

//  Large devices (desktops, 992px and up) 
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* header start */
    header {
        nav {
            ul {
                margin-top: 30px !important;

                li {
                    margin: 0 0;
                    text-align: right;
                    // &:last-child {
                    //     margin: 0 10px;
                    // }

                }
            }
        }
    }

    .cusmar {
        margin-left: auto;
    }

    // search
    .searchbar:hover>.search_input {
        width: 70px;
    }

    // search
    /* header end */

    // banner start
    .banner_content {
        margin-top: 210px;
        margin-bottom: 220px;
    }

    .scroll {
        margin-bottom: -70px;

        p {
            font-size: 17px;
        }

        i {
            font-size: 50px;
        }
    }

    // banner end

}

//  Extra large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) {}