/* global */
body {
  font-family: 'Dosis', sans-serif;
  color: #333333;
  background-image: url(../images/background.png);
}

.edu_title_container hr,
.education2_container1 hr,
.row1_container hr,
.teacher_wrapper1 hr,
.grey_wrapper1 hr,
  //.teacher_wrapper3 hr,
.newswrapper1 hr {
  width: 250px;
  border: none;
  border-bottom: 4px dashed white;
}

/* fonts start */
header li a,
.banner_content h1,
.edu_title_container h1,
.rowcontainer h2,
.education2_container1 h1,
.container2 p,
.featured_container1 h1,
.card-block h4,
.cusbtn,
.row1_container h1 {
  font-weight: bold;
}

.scroll p,
.rowcontainer p,
.cusheader,
.custext {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* fonts end*/

/* global end */

/* header start */
header {
  background-color: #ffd338;

  nav {
    ul {
      margin-top: 10px;

      li {
        font-size: 18px;
        letter-spacing: 2px;
        margin: 0 9px;

        &:last-child {
          margin-top: 1px;
          margin-left: -8px;
        }

        &:hover {
          border-radius: 15px;
          background-color: #f05c5c;
        }

        a {
          color: #ffffff !important;
          display: inline;
        }
      }
    }
  }
}

.cusmar {
  margin-left: 15px;
}

// search

.searchbar {
  height: 40px;
  // padding-left: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  //caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  // padding: 0 10px;
  width: 90px;
  // caret-color: red;
  transition: width 0.4s linear;
}


// search
/* header start */


// banner start
.banner {
  background-image: url(../images/cloud.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner_content {
  margin-top: 290px;
  margin-bottom: 300px;

  h1 {
    font-size: 48px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #1ec0ff;
  }
}

.scroll {
  p {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 36px;
    color: #bbbbbb;
  }

  i {
    font-size: 60px;
    color: #bbbbbb;
  }
}

// banner end

// education start

.education {
  padding: 50px 0;
}

.edu_title_container {
  margin-top: 100px;

  h1 {
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.rowcontainer {
  h2 {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }

  p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
  }

  // img {}
}

.line {
  width: 170px;
  height: 3px;
  border-radius: 2px;
  background-color: #dddddd;
}

.rowcontainer2 {
  img {
    border-radius: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  }
}

// education end

// education2

.education2 {
  padding-top: 50px;
  padding-bottom: 50-16px;
  background: url(../images/blue_background.png) no-repeat;
  background-size: cover;
}

.education2_container1 {
  h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
}

.container2 {
  img {
    margin-left: 10px;
  }

  p {
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
  }
}

// education2 end

// featured

.featured {
  padding: 50px 0;

  button {
    width: 100%;
    background-color: #56d47e;
    font-weight: bold;
    border-radius: 20px;

    span {
      font-size: 48px;
      letter-spacing: 5px;
      line-height: 20px;
      color: #ffffff;
    }
  }
}

.featured_container1 {
  h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }

  img {
  }
}

// card start

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;

  h4 {
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.profile {
  position: absolute;
  top: -20px;
  right: 9px;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 50%;
}

.profile-avatar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.cusheader {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.cusheader2 {
  background-color: #1ec0ff;
}

.cusheader3 {
  background-color: #56d47e;
}

.cusheader4 {
  background-color: #f05c5c;
}

.cusheader5 {
  background-color: #ffd338;
}

.custext {
  font-size: 14px;
  line-height: 24px;
}

.cusfooter {
  padding: 7px 3px 0 3px;

  p {
    font-size: 16px;
    line-height: 30px;
  }
}

.cusfooter2 {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.pbot {
  padding-bottom: 0;
}


// card end

// featured end

//moments start

.moments {
  padding-top: 50px;
  padding-bottom: 50-30px;
  background: url(../images/green_background.png) no-repeat;
  background-size: cover;
}

.row1_container {
  h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
}

.row2_container {
  margin-bottom: 30px;

  img {
    border-radius: 20px;
  }
}

.row3_container {
  margin-top: 90px;
}

//moments end


//teachers start
.teachers {
  padding: 80px;
}

.teacher_wrapper1 {
  i {
    font-size: 60px;
    letter-spacing: 6px;
    line-height: 36px;
    color: #1ec0ff;
  }

  a {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 36px;
    color: #1ec0ff;
  }

  p {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 36px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin-top: 15px;

    &:last-of-type {
      font-size: 14px;
      line-height: 24px;
      color: #1ec0ff;
    }
  }

  h1 {
    font-size: 30px;
    letter-spacing: 3px;
    margin-top: 100px;
    font-weight: bold;
    text-align: right;
  }
}

.teacher_wrapper2 {
  img {
    border-radius: 20px;
  }
}

.teacher_wrapper3 {
  h4 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 0;
  }

  h5 {
    font-size: 16px;
    line-height: 36px;
    color: #333333;
    font-family: "Lato", sans-serif;
    margin-bottom: 0;
  }

  hr {
    margin-left: 0;
  }

  p {
    font-size: 15px;
    line-height: 27px;
    font-family: "Lato", sans-serif;
    font-weight: 300;

    &:last-of-type {
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 36px;
      color: #333333;
      font-weight: bold;
    }
  }

  ul {
    li {
      margin-right: 15px !important;

      i {
        font-size: 18px;
      }

      &:first-child {
        i {
          color: #4366ff;
        }
      }

      &:last-child {
        color: #213761;
      }

      &:nth-child(2) {
        color: #57B9FE;
      }

      &:nth-child(3) {
        color: #E35C5F;
      }
    }
  }
}

.w1c {
  color: #1ec0ff;
}

.w2c {
  color: #56d47e;
}

.w3c {
  color: #f05c5c;
}

.w4c {
  color: #ffd338;
}

//teachers end

//grey start

.grey {
  background-color: #6E6E6E;
  padding: 50px 0;
}

.grey_wrapper1 {

  h1 {
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 36px;
    color: #56d47e;
    font-weight: bold;
  }

}

.grey_wrapper2 {
  color: #ffffff;
  line-height: 36px;
  position: relative;

  h2 {
    font-size: 60px;
    letter-spacing: 6px;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
  }

  img {
    position: absolute;
    bottom: 33px;
    left: 41px;
  }
}

//grey end

//news start

.news {
  padding: 50px 0;
}

.mtop {
  margin-top: 80px;
}

.newswrapper1 {
  h1 {
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  hr {
    margin-left: 0;
  }
}

.c1 {
  background-color: #1ec0ff;
}

.c2 {
  background-color: #56d47e;
}

.c3 {
  background-color: #ffd338;
}

.c4 {
  background-color: #f05c5c;
}

.newswrapper2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);

  h1 {
    font-size: 48px;
    line-height: 36px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 14px;
    margin-left: 29px;
  }

  p {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 36px;
    color: #ffffff;
    margin-left: 31px;
  }
}

.newswrapper3 {
  margin-left: 15px;
  margin-top: 13px;

  h4 {
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 36px;
    font-weight: bold;
    color: #333333;
  }

  p {
    font-size: 16px;
    line-height: 32px;
    word-spacing: 2px;

    span {
      color: #1ec0ff;
    }
  }

}

.one {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 300;
}

.two {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 24px;
  color: #fb9130;
  font-weight: bold;
}

.news_image {
  img {
    border-radius: 20px;
  }
}

.news_content {
  h4 {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: bold;
  }

  hr {
    border: none;
    border-bottom: 8px dotted;
  }

  P {
    font-size: 16px;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
  }
}

.mtop2 {
  margin-top: 40px;
}

.hr1 {
  color: #1ec0ff;
}

.hr2 {
  color: #56d47e;
}

.hr3 {
  color: #ffc852;
}

//news end

//contact start

.contact {
  padding-top: 50px;
  padding-bottom: 110px;
  background: url(../images/cloud_bottom.png) no-repeat;
}

.contact_wrapper1 {
  margin-top: 10px;

  img {
  }

  i {
    color: #1ec0ff;
    font-weight: bold;
    margin-right: 6px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-family: "Lato", sans-serif;

  }

  span {
    color: #1ec0ff;
    font-weight: bold;
  }
}

.mtop3 {
  margin-top: 180px;
}

.contact_wrapper2 {
  h4 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
  }

  hr {
    border: none;
    border-bottom: 8px dotted;
    width: 200px;
    margin-left: 0;
  }
}

.contact_wrapper3 {
  h4 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #56d47e;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
  }

  hr {
    border: none;
    border-bottom: 8px dotted;
    width: 200px;
    margin-left: 0;
    color: #56d47e;
  }

  p {
    font-size: 15px;
    line-height: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
  }

  i {
    margin-right: 6px;
    color: #dddddd;
  }
}

.contact_wrapper4 {
  position: relative;

  h4 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #f05c5c;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
  }

  hr {
    border: none;
    border-bottom: 8px dotted;
    width: 200px;
    margin-left: 0;
    color: #f05c5c;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
  }

  input {
    border-right: none;
    border-left: none;
  }

  ul {
    li {
      margin-top: 10px;
      margin-right: 15px !important;

      i {
        color: #cccccc;
      }
    }
  }
}

.cusappend {
  background: none !important;
  border-left: none;
}

.cusprepend {
  background: none !important;
  border-right: none;
  color: #1ec0ff;
  padding-right: 10px;
}

//contact end

//footer start

footer {
  padding-top: 34.5px;
  padding-bottom: 5.5px;
  background-color: #ffd338;
}

.footwrapper1 {
  ul{
    li{
      color: #ffffff;
      font-weight: bold;
      a{
        font-size: 18px;
        line-height: 18px;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.footwrapper2 {
  p{
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
  }
}

//footer end