/* global */
body {
  font-family: 'Dosis', sans-serif;
  color: #333333;
  background-image: url(../images/background.png);
}

/* fonts start */
header li a,
.banner_content h1,
.edu_title_container h1,
.rowcontainer h2,
.education2_container1 h1,
.container2 p,
.featured_container1 h1,
.card-block h4,
.cusbtn,
.row1_container h1{
  font-weight: bold;
}

.scroll p,
.rowcontainer p,
.cusheader,
.custext {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* fonts end*/

/* global end */

/* header start */
header {
  background-color: #ffd338;

  nav {
    ul {
      margin-top: 10px;

      li {
        font-size: 18px;
        letter-spacing: 2px;
        margin: 0 9px;

        &:last-child {
          margin-top: 1px;
          margin-left: -8px;
        }

        &:hover {
          border-radius: 15px;
          background-color: #f05c5c;
        }

        a {
          color: #ffffff !important;
          display: inline;
        }
      }
    }
  }
}

.cusmar {
  margin-left: 15px;
}

// search


.searchbar {
  height: 40px;
  // padding-left: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  //caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  // padding: 0 10px;
  width: 90px;
  // caret-color: red;
  transition: width 0.4s linear;
}


// search
/* header start */


// banner start
.banner {
  background-image: url(../images/cloud.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner_content {
  margin-top: 290px;
  margin-bottom: 300px;

  h1 {
    font-size: 48px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #1ec0ff;
  }
}

.scroll {
  p {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 36px;
    color: #bbbbbb;
  }

  i {
    font-size: 60px;
    color: #bbbbbb;
  }
}

// banner end

// education start

.education {
  padding: 50px 0;
}

.edu_title_container {
  margin-top: 100px;

  h1 {
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    //margin-bottom: 25px;
  }

  hr {
    width: 250px;
    border: none;
    border-bottom: 4px dashed white;
  }

}

.rowcontainer {
  h2 {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }

  p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
  }

  // img {}
}

.line {
  width: 170px;
  height: 3px;
  border-radius: 2px;
  background-color: #dddddd;
}

.rowcontainer2 {
  img {
    border-radius: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  }
}

// education end

// education2

.education2 {
  padding-top: 50px;
  padding-bottom: 50-16px;
  background: url(../images/blue_background.png) no-repeat;
  background-size: cover;
}

.education2_container1 {
  h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }

  hr {
    width: 250px;
    border: none;
    border-bottom: 4px dashed white;
    margin-bottom: 60px;
  }
}

.container2 {
  img {
    margin-left: 10px;
  }

  p {
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
  }
}

// education2 end

// featured

.featured {
  padding: 50px 0;

  button {
    width: 100%;
    background-color: #56d47e;
    font-weight: bold;
    border-radius: 20px;
    span{
      font-size: 48px;
      letter-spacing: 5px;
      line-height: 20px;
      color: #ffffff;
    }
  }
}

.featured_container1 {
  h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }

  img {
  }
}

// card start

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;

  h4 {
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.profile {
  position: absolute;
  top: -20px;
  right: 9px;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 50%;
}

.profile-avatar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.cusheader {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.cusheader2 {
  background-color: #1ec0ff;
}

.cusheader3 {
  background-color: #56d47e;
}

.cusheader4 {
  background-color: #f05c5c;
}

.cusheader5 {
  background-color: #ffd338;
}

.custext {
  font-size: 14px;
  line-height: 24px;
}

.cusfooter {
  padding: 7px 3px 0 3px;

  p {
    font-size: 16px;
    line-height: 30px;
  }
}

.cusfooter2 {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.custitle {
  color: #1ec0ff;
}

.mot {
  margin-bottom: 16px;
}

.mbot {
  margin-bottom: 15px;
}


// card end

// featured end

//moments start

.moments{
  padding-top: 50px;
  padding-bottom: 50-30px;
  background: url(../images/green_background.png) no-repeat;
  background-size: cover;
}
.row1_container{
  h1{
    font-size: 30px;
    letter-spacing: 3px;
  }
  hr{
    width: 250px;
    border: none;
    border-bottom: 4px dashed white;
    margin-bottom: 100px;
  }
}
.row2_container{
  margin-bottom: 30px;
  img{
    border-radius: 20px;
  }
}

//moments end